{% extends "layout.html" %}

{%  block body %}
<span>  <img class="himage" src="/static/b.png">  </span>



<div class="flex-box sbox">
    <div class="cbox"><div><img class="sicon" src="/static/ba.png"></div><h3 class="text-center text-success">Share Ride</h3>
    <p>Share your vehicle ride with your university mates.<br>
    just create ride from above link and let your mates <br> contact you.</p></div>
    <div class="cbox"><div><img class="sicon" src="/static/ab.png"></div><h3 class="text-center text-success">Get Ride</h3>
     <p>Get a Rides from University mates to university or Home.<br>
    just search ride and ask from them.</p></div>
    <div class="cbox"><div><img class="sicon" src="/static/code.png"></div><h3 class="text-center text-success">Contribute Code</h3>
     <p>Help me in writing awesome code for small cases<br>
    And let learn together. </p></div>
</div>


{% endblock %}